body {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
}

section{
  height: fit-content;
  width: auto;
  margin:  15%;
  
}

.aboutme_section1 a{
  color: #292b2c;
}

/*Section 1*/
.s1{
  display: flex;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.head_background{
  height: 100vh;
  width: auto;
  position: absolute;
  z-index: -2;
  width: 100%;
  overflow: hidden;
  top:0;
}
.s1 img{
  width: 100%;
  height: 100%;
  
}

.title{
  background-color: rgba(0, 0, 0, 0.0) !important;
  width: 100%;
}

.lead{
  font-size: 30px !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.display-4 {
  margin: 0px;
  padding: 0px;
  font-size: 5rem !important;
}
.title h3 {
  margin: 0px;
  padding: 0px;
  font-size: 4rem;
}

/* Section 2 and 3*/


.self {
  height: 300px;
  width: 300px;
  object-fit: cover;
  float: right;
  padding: 5%;
}


.tab{
  height: 100px;
  width: fit-content;

}
.tab_info  {
  width: 70%;
  float:left;
  padding: 0;
  margin: 0;
}
.aboutme, .exp{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}


.exp h4{
  font-size: 25px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.aboutme_section1{
  line-height: 1.5;
  width: 40%;
  font-size: 20px;

}
.exp_section2{
  display: flex;
  flex-direction: column;
}



.tab-content h5{
  font-size: 25px;
  padding: 0;
  margin: 0;
}


.exp, .aboutme{
  letter-spacing: 1px;
  font-size: 20px;
  width: 100%;
}


.tech{
  display: flex;
  width: 100%;
  
}
.tech ul{
  width: 50%;
  align-self: center;
}
.img_frame{
  margin: 5%;
  margin-left: 10%;
}

.s3{
  line-height: 1.5;
}

.exp_section2 h4{
  margin-bottom: 1.5%;
}
.exp_section2 h3{
  margin-bottom: 1.5%;
}
.exp_section2 p{
  line-height: 1.6;
}

.exp_section2 li{
  margin-bottom: 1%;
}

.exp_section2 h5{
  margin-bottom: 1.5%;
}

.jobtabicon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jobtabimg{
  width: 46px !important;
  margin-right: 5%;
}
.jobtabimg img{
  width: 100% !important;
}

/* Animation*/
  .img_frame svg, .img_frame svg rect{
    position: absolute;
    height: 300px;
    width: 300px;
    fill: transparent;
}

.img_frame  svg rect{
    stroke: black ;
    stroke-width: 4;
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
    animation: box 6s linear infinite;
}

.clickMe{
  width: 93%;
  height: 100%;
  background-color:black;
  position:absolute;
  opacity: 0;

}
.clickMetext{
  color: white;
  font-size: 6rem;
  margin: auto;
  text-align: center;
  
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:.4;}
  }

.clickMe:hover{
  animation: fadeIn ease .8s;
  opacity:.4;
  cursor: pointer;
}


@keyframes box{
    0%
    {
        stroke-dashoffset: 1200;
    }
    100%
    {
        stroke-dashoffset: 0;
    }
}

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 0.8;}
}
.fade-in-element {
  animation: fade-in 1.4s;
}
.hidden {
  opacity: 0;
}
/* Section 4*/

.works_container{
  display: flex;
  flex-direction: column;
}

.listofwork{
  display: flex;
  flex-direction: column;
}

.card_placement{
  width: 100%;
  height: 100px;
  margin: 5%;
}

.card_body_height{
  height: 100px;
}

.card{
  width: 1000px;
  margin: 3%;
}

.listofwork{
  display: flex;
}

.projectlink{
  width: 5rem;
  position: absolute;
  right: 6%;
  bottom: 4%;
}
.projectlink img{
  width: 100%;
  height: auto;
}
.projectlink2{
  width: 3rem;
  position: absolute;
  right: 14%;
  bottom: 4%;
}
.projectlink2 img{
  width: 100%;
  height: auto;
}
.projectlinkm2{
  width: 3rem;
  position: absolute;
  right: 25%;
  bottom: 4%;
}
.projectlinkm2 img{
  width: 100%;
  height: auto;
}
.card-text{
  font-size: 18px;
}
.card-title{
  font-size: 20px;
}
.card-body ul{
  font-size: 20px;
}

.mobile_view{
  display: none;
}

/* section 5*/

.contactme{
  width: 100%;
  background-color: black;
  color: white;
  padding: 5%;
  border-radius: 5%;

}
.description p{
  font-size: 35px;
}
.work h4{
  font-size: 35px;
}

.card img{
  object-fit: cover;
}

.exp_section2 img{
  object-fit: cover;
}


.projectlink{
  width: 46px;
  margin: 0;
  margin-top: 3%;
}
.projectlink img{
  width: 100%;
  height: auto;
}

.o-project{
  display: flex;
  flex-wrap: wrap;
  justify-content: justify;
  flex-direction: row;
}
.o-project-child{
  flex: 1 1 40%; /* explanation below */
  
}

/* Style the header with a grey background and some padding */

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.navbar img{
  width: 40px;
}
.navbar a{
  color: black;
}

.nav-item{
  margin-left: 20px;
}

.nav-pill{
  width: 300px !important;
}

.bg-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top:0;
  display: none;
  justify-content: center;
  align-items: center;
}

.bg-content{
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  
}

nav{
  z-index: 2;
}


.left{
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  z-index: 2;
  margin-left: 7.5%;
}

.line_2{
  stroke: black; 
  stroke-width: 3;
}

.left a{
  margin-bottom: 20px;
}

.right{
  position:  fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  z-index: 2;
  margin-right: 1.5%;
  justify-content: center;
  align-items: center;
}

.email{
  transform: rotate(-90deg);
  margin-bottom: 125px;
}
.right a{
  width: 30%;
  color: black;
}

footer{
  height: 10%;
  width: 100%;
  bottom: 0px;
  text-align: center;
}

.footer{
  margin-bottom: 1%;
}

.footer a{
  color: black;
  font-size: 20px;
}

iframe{
  width: 40%;
  height: 40%;
  max-width: 1120px;
  max-height: 650px;
}

.active{
  color: white !important;
  background-color: #292b2c !important;
  border-color:  #292b2c !important;
}

.show, .tab-pane{
  background-color: white !important;
  color: black !important;
}

.tab-pane a{
  color: #292b2c;
}

.side_navbar{
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top:0;
  z-index: 30;
}
.sidebar{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  background-color: white;
  color: #292b2c;
  width: 40%;
  height: 100%;
  z-index: 30;
  align-items: center;
  justify-content: center;
}


.navbar2{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
}

.sidebar{
  position: fixed;
}
.navbar2 a{
  color: #292b2c;
}
.navbar2 button{
  font-size: 25px;
}

.navbar2 ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav2_tab{
  margin-bottom: 20%;
}

.showmenu{
  display: none;
}

@media only all and (max-width: 1500px) {
  .right, .left{
    display: none;
  }

  .mobile_view{
    display: inline;
  }

  .desktop_view{
    display: none;
  }
}

@media only all and (max-width: 1024px) {
  .aboutme{
    flex-direction: column;
  }

  .img_frame{
    margin: 5%;
  }
  .aboutme_section1{
    padding-right: 0;
    width: 80%;
  }
  .nav{
  display: none !important;
  }

  .showmenu{
    display: inline;
  }

  .navbar{
    height: 10%;
  }
  .navbar img{
    width: 7%;
  }

  .aboutme_section1{
    width: 100%;
  
  }
  .tab-content h5{
    padding: 0;
    margin: 0;
  }
  

  .img_frame svg, .img_frame svg rect{
    position: absolute;
    height: 600px;
    width: 600px;
    fill: transparent;
}

.img_frame  svg rect{
    stroke: black ;
    stroke-width: 8;
    stroke-dasharray: 600;
    stroke-dashoffset: 0;
    animation: box 5s linear infinite;
}

.self {
  height: 600px;
  width: 600px;
  object-fit: cover;
  padding: 5%;
}

.o-project{
  flex-direction: column;
}

.o-project-child{
  flex: none;
  width: 100%;
}

@keyframes box{
  0%
  {
      stroke-dashoffset: 2400;
  }
  100%
  {
      stroke-dashoffset: 0;
  }
}

.s1 img{
    
  height: 100vh;
  width: auto;
  min-width: 100vw;

}
}

@media only all and (max-width: 800px) {
  .jobtabname{
    display: none;
  }

  
}

@media only all and (max-width: 600px) {

  .aboutme_section1, .tab-content h5, .exp, .aboutme, .card-text, .card-title, .card-body ul, .footer a, .navbar2 a,  .navbar2 button{
    font-size: 15px;
  
  }

  .exp h4{
    font-size: 25px;
  }
  .exp h3, .aboutme h3, .works_container h3{
    font-size: 30px !important;
  }

  .lead, .title a{
    font-size: 16px !important;
  }

  .projectlink, .jobtabimg, .jobtabimg img{
    width: 49px !important;
  }

  .card1{
    margin-bottom: 10%;
  }

  


.display-4{
  font-size:30px !important;
}

.title h3{
  font-size:30px;
}

.jumbotron{
  width: 400px !important;
  margin:0;
}

section{
  margin:  10%;
}

.s1{
  margin: 0;
}
.jobtabname{
  display: none;
}

.img_frame svg, .img_frame svg rect{
  position: absolute;
  height: 200px;
  width: 200px;
  fill: transparent;
}

.img_frame  svg rect{
  stroke: black ;
  stroke-width: 8;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  animation: box 5s linear infinite;
}

.self {
height: 200px;
width: 200px;
object-fit: cover;
padding: 5%;
}

@keyframes box{
0%
{
    stroke-dashoffset: 800;
}
100%
{
    stroke-dashoffset: 0;
}
}
section{
  margin:  5%;
}
}

@media only all and (max-height: 560px) {
  .lead, .title a{
    font-size: 20px !important;
  }
  .display-4{
    font-size:30px !important;
  }

  .title h3{
    font-size:25px;
  }
  .head_background{
    height: 120vh;
  }
  .s1 img{
    height: 120vh;
    
  }
  .navbar{
    height: 20%;
  }
}

@media only all and (max-height: 350px) {
  .head_background{
    height: 140vh;
  }
  .s1 img{
    height: 140vh;
    
  }

}